<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forecast Stats API</title>
</head>
<style>
    body {
        background-color: #292B34;
        font-family: "Source Code Pro", sans-serif;
    }

    h1, p, li {
        color: white;
    }

    a {
        color: #2b81ff;
    }
</style>
<body>
<h1>
    Welcome to the <a href="https://github.com/nicolasgasco/surf-share" rel="noopener noreferrer" target="_blank">SurfShare</a>
    Forecast Stats API!
</h1>
<p>These are the endpoints that are currently supported:</p>
<ul>
    <li>Health:
        <ul>
            <li>
                <a href="/health">GET /health</a>: check the health status of the service.
            </li>
        </ul>
    </li>
    <li>Stats:
        <ul>
            <li>
                <a href="/forecast/stats/la-arena">GET /forecast/stats/{slug}</a>: retrieve forecast statistics for a
                specific surf break.
            </li>
        </ul>
    </li>
</ul>
</body>
</html>
