services:
  app:
    image: golang:1.25
    restart: always
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./app:/go/app:rw
    command: tail -f /dev/null # TODO replace once server is implemented

  db:
    image: postgres:18
    restart: always
    user: postgres
    secrets:
      - db_password
    volumes:
      - db_data:/var/lib/postgresql
      - ./db/scripts:/docker-entrypoint-initdb.d:ro
    environment:
      - POSTGRES_DB=surf-share
      - POSTGRES_PASSWORD_FILE=/run/secrets/db_password
    expose:
      - 5432
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db_data:

secrets:
  db_password:
    file: db/password