services:
  db:
    image: postgres:18
    restart: always
    user: postgres
    secrets:
      - db_password
    volumes:
      - db_data:/var/lib/postgresql
    environment:
      - POSTGRES_DB=example_db
      - POSTGRES_PASSWORD_FILE=/run/secrets/db_password
    expose:
      - 5432
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db_data:

secrets:
  db_password:
    file: db/password