<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SurfShare API</title>
</head>
<style>
    body {
        background-color: #292B34;
        font-family: "Source Code Pro", sans-serif;
    }

    h1, p, li {
        color: white;
    }

    a {
        color: #2b81ff;
    }
</style>
<body>
<h1>
    Welcome to the <a href="https://github.com/nicolasgasco/surf-share" rel="noopener noreferrer" target="_blank">SurfShare</a>
    API!
</h1>
<p>These are the endpoints that are currently supported:</p>
<ul>
    <li>Breaks:
        <ul>
            <li>
                <a href="/breaks">GET /breaks</a>: list all available surf breaks.
            </li>
            <li>
                <a href="/breaks/la-arena">GET /breaks/{slug}</a>: retrieve detailed
                information about a specific surf break identified by its slug.
            </li>
        </ul>
    </li>
    <li>Auth:
        <ul>
            <li><code>POST /auth/register {username, email, password}</code>: register a new user.</li>
        </ul>
    </li>
    <li>Forecast:
        <ul>
            <li>
                <a href="/forecast/la-arena">GET /forecast/{slug}</a>: retrieve marine and weather forecast data for a
                specific surf break identified by its slug.
            </li>
        </ul>
    </li>
</ul>
</body>
</html>